<p>Catalogo disponible</p>
<div class="catalogo">
  <div class="prenda" *ngFor="let prenda of prendas" [ngClass]="{'clearance':prenda.clearance}">
    <img [src]="prenda.imagenUrl" [alt]="prenda.nombre" />
    <h3>{{ prenda.nombre }}</h3>
    <p>Precio: {{ prenda.precio | currency }}</p>
    <p>Talles: {{ prenda.talles.join(', ') }}</p>
    <p><span class="badge text-bg-dark" *ngIf="prenda.stock==0">Sin stock</span></p>
    <button class="btn btn-sm btn-success" (click)="agregarAlCarrito(prenda)" [disabled]="prenda.stock === 0">Agregar al carrito </button>
    
  </div> 
</div>
